[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
avro-validator = "*"
python-slugify = "*"
avro-python3 = "*"
google-cloud-pubsub = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
